@{
    ViewBag.Title = "添加分类";
    ViewBag.TitleSmall = "";

    ViewBag.Breadcrumb = new Breadcrumb(new Crumb[] {
        new Crumb("任务管理", "", "fa-dashboard"),
        new Crumb("分类列表", Url.Action("Index"), ""),
        new Crumb("添加分类","" , "")
    });
}
<link href="~/Content/bootstrapValidator.min.css" rel="stylesheet" />
@using System.Web.Optimization
<div class="panel panel-default">
    <div class="panel-body">
        <form id="nodeForm" action="@Url.Action("AjaxCreate")" class="form-horizontal">
            <div class="form-group">
                <label for="NodeName" class="col-md-2 control-label">节点名</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" name="NodeName" value=""
                           placeholder="请输入节点名" required maxlength="@EventCloud.Nodes.Dto.CreateNodeInput.MaxNodeNameLength">
                </div>
            </div>
            <div class="form-group">
                <label for="NodeIp" class="col-md-2 control-label">节点ip/host</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" name="NodeIp" value=""
                           placeholder="请输入节点ip/host" required maxlength="@EventCloud.Nodes.Dto.CreateNodeInput.MaxNodeIpLength">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6 col-md-offset-2">
                    <a href="@Url.Action("Index")" class="btn btn-primary">返回列表</a>
                    <button type="submit" id="btnSave" class="btn btn-primary">
                        <i class="fa fa-sign-in"></i> 保存
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
@Scripts.Render("~/plugins/jshow")
<script src="~/Scripts/bootstrapValidator.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#nodeForm").bootstrapValidator({
            message: '该值不可以为空',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            }
        }).on('success.form.bv', function (e) {//点击提交之后
            e.preventDefault();
            var $form = $(e.target);
            var bv = $form.data('bootstrapValidator');
            $.post($form.attr('action'), $form.serialize(), function (result) {
                if (result.ret) {
                    message_box.show('<h4>保存成功！</h4>', 'success');
                    window.location.href = "@Url.Action("Index")";
                } else {
                    message_box.show('<h4>保存失败：</h4>' + result.msg + '！', 'danger');
                }
            });
        });
    });
</script>